apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: zammad
  namespace: zammad
spec:
  values:
    ingress:
      enabled: false

    # reduce resource usage for staging
    elasticsearch:
      replicas: 1
      resources:
        requests:
          memory: 512Mi
          cpu: 250m
