apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 30m
  chart:
    spec:
      chart: traefik
      version: ">=30.0.0"
      sourceRef:
        kind: HelmRepository
        name: traefik
      interval: 12h
  values:
    service:
      type: LoadBalancer
    ports:
      web:
        port: 80
      websecure:
        port: 443
      metrics:
        port: 9100
    ingressClass:
      enabled: true
      isDefaultClass: true
