apiVersion: apps/v1
kind: Deployment
metadata:
  name: wikijs
  namespace: wikijs
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wikijs
  template:
    metadata:
      labels:
        app: wikijs
    spec:
      containers:
        - name: wikijs
          image: ghcr.io/requarks/wiki:2
          ports:
            - containerPort: 3000
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "768Mi"
              cpu: "500m"
          env:
            - name: DB_TYPE
              value: "postgres"
            - name: DB_HOST
              value: "wikijs-db-rw"
            - name: DB_PORT
              value: "5432"
            - name: DB_NAME
              value: "wikijs"
            - name: DB_USER
              value: "wikijs"
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: wikijs-db-app
                  key: password
