apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 30m
  install:
    timeout: 10m
  upgrade:
    timeout: 10m
  chart:
    spec:
      chart: traefik
      version: "38.0.1"
      sourceRef:
        kind: HelmRepository
        name: traefik
      interval: 12h
  values:
    service:
      type: ClusterIP
    ports:
      web:
        port: 80
      websecure:
        port: 443
      metrics:
        port: 9100
      traefik:
        port: 8080
        expose:
          default: true
    ingressClass:
      enabled: true
      isDefaultClass: true
