apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../networking/traefik/base
  - tailscale-ingress.yaml
patches:
  - path: helmrelease-patch.yaml
    target:
      kind: HelmRelease
      name: traefik
