apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - helmrepository.yaml
  - helmrelease.yaml
  - policies/kernel-modules.yaml
  - policies/privileges-raise.yaml
  - policies/bpf.yaml
