apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homepage-wordpress
  namespace: homepage-wordpress
spec:
  values:
    ingress:
      enabled: false
    persistence:
      size: 10Gi
